@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
HTML5 display-role reset for older browsers article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom style */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto 0;
  padding: 4rem 5rem;
  background-color: rgb(169, 163, 175);
  font-family: "Lobster", cursive;
}
/* blockquote {
  font-size: 32px;
  font-weight: 400;
  font-family: "Courier New", Courier, monospace;
}
ul {
  /* background-color: darkkhaki; */
/* min-width: 20rem;
  font-size: 32px;
  width: 70vw;
  margin: auto;
}
li {
  background-color: rgb(109, 108, 90);
} */
/* ul {
  height: 400px;
  background-color: darksalmon;
  font-size: 32px;
}
blockquote {
  background-color: darkseagreen;
  padding: 20px;
} */
/* cite {
  background-color: deepskyblue;
  padding: 20px;
} */
li {
  padding: 10px;
  list-style-type: none;
}
li:hover {
  background: rgb(236, 178, 178);
}
blockquote {
  font-size: 3rem;
  padding: 1rem 0rem;
}
p {
  font-size: 1.5rem;
  padding: 1rem 0rem;
}
